
<div class="app">

<div class="panel-heading"><h1>BRILLIANT QUOTES</h1> </div>
</div>
<hr>
<div class="container-fluid">
  <div class="row">
    <div class="col-md-4">


      <app-quotes-form (addQuotes)="addNewQuotes($event)"></app-quotes-form>
    </div>

<div class="bg-primary">
<div class="col-md-6">





<div *ngFor='let quote of quotes;let i = index'>
  <p   id="{{i}}" appStrikethrough>{{quote.name}} written on: {{quote.completeDate|date}}</p>

  <button  (click)='toogleDetails(i)' class="btn btn-success" >
    Details</button>


  <app-quotes-details *ngIf="quote.showDescription" [quote]='quote' (isComplete)= 'completeQuotes($event,i)'></app-quotes-details>


<div class="col-md-2">


</div>
  </div>
    </div>
</div>
  </div>
  </div>
