<div>
  <p class="text-info">{{quote.description}}</p>
  <p class="text-warning">{{quote.completeDate|dateCount}}Days ago</p>
  <div>
    <div class="btn-toolbar">
      <button class="btn btn-sm btn-danger" (click)='quoteComplete(true)'> Delete </button>
      <button class="btn btn-sm btn-danger" (click)="upvote(i)" class="vote-btn">Likes:{{quote.upvotes}}</button>
      <button class="btn btn-sm btn-danger" (click)="downvote(i)" class="vote-btn">Dislikes:{{quote.downvotes}}</button>
    </div>

  </div>
